div.wrapper
  div.title.clearfix
    div.logo
    div.account
      span Markus J
      a.headicon href="#"
  div.nav.clearfix
    ul
      li DASHBOARD
      li INCIDENTS
      li ENDPOINTS
      li SETTINGS
    div.search
      from.searchform
        input.searchfield type="text"
          input.searchbtn type="button"
  div.content
      div.data
        div.perEndpoints
          h3 INCIDENTS PER ENDPOINTS
        div.sortedConnected
          div.sorted
            h3 ACTIVE INCIDENTS SORTED
          div.connected
            h3 CONNCETED ENDPOINTS
        div.activeIncidents
          h3 ACTIVE INCIDENTS
      div.diagram
        h3 EVENTS PER SECOND
      div.form
        h3 DEVICE